* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

:root {
  --black: #01010e;
  --white: #f9f9f9;
  --blue: #6d1c06;
  --whitet: #1d858b;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  width: 100%;
  color: var(--white);
  background: var(--black);
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header .hemburger {
  display: none;
  width: 40px;
  height: 20px;
  margin-left: 5px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

body header .hemburger div {
  display: none;
  margin-top: 4px;
  padding: 3px;
  width: 40px;
  background-color: white;
}

body header .hemburgerclose {
  display: block;
  width: 40px;
  height: 20px;
  margin-left: 5px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

body header .hemburgerclose div {
  display: block;
  margin-top: 4px;
  padding: 3px;
  width: 40px;
  background-color: white;
  border-radius: 5px;
}

body header .hemburgerclose #topl {
  width: 25px;
  margin-left: 20px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

body header .hemburgerclose #middlel {
  display: block;
  width: 42px;
}

body header .hemburgerclose #bottoml {
  width: 25px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  margin-left: 20px;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 100%;
  border: 2px white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #100e0e;
  padding: 6px;
  font-size: 1.5em;
  margin-bottom: 4px;
  -webkit-box-shadow: 0 0 60px white inset;
          box-shadow: 0 0 60px white inset;
  border-radius: 10px;
}

body header nav a {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
}

body header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -webkit-box-shadow: 0 0 15px white inset;
          box-shadow: 0 0 15px white inset;
  border-radius: 10px;
}

body header .navbar ul {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .navbar ul li {
  list-style: none;
  margin-left: 4px;
}

body header .navbar ul li a {
  text-decoration: none;
  color: white;
  margin-left: 0.5em;
}

body header .navbar ul li:hover {
  -webkit-box-shadow: 0 0 40px white inset;
          box-shadow: 0 0 40px white inset;
  border-radius: 10px;
  border: 2px white;
}

body .darkmode {
  display: block;
  width: 60px;
  margin-top: 5%;
  margin-left: 95%;
  padding: 20px 8px 20px 08px;
  font-weight: bold;
  border-radius: 30px;
  color: var(--white);
  background: var(--black);
  -webkit-box-shadow: 0 0 10px white inset;
          box-shadow: 0 0 10px white inset;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

body .lightmode {
  display: block;
  width: 60px;
  margin-top: 5%;
  margin-left: 95%;
  padding: 20px 8px 20px 8px;
  font-weight: bold;
  border-radius: 30px;
  color: var(--blue);
  background: var(--whitet);
  -webkit-box-shadow: 0 0 10px #0f0e0e inset;
          box-shadow: 0 0 10px #0f0e0e inset;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
  max-width: 100%;
  border: 2px white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #100e0e;
  -webkit-box-shadow: 0 0 60px white inset;
          box-shadow: 0 0 60px white inset;
}

@media (max-width: 1000px) {
  body header .hemburger {
    display: block;
  }
  body header .hemburger div {
    display: block;
  }
  body header .nav {
    max-width: 100%;
  }
  body header .navbar {
    display: none;
    margin-top: 14px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body header .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main {
    max-width: 90%;
  }
  body main .rightarea {
    display: none;
  }
  body .darkmode {
    margin-left: 5%;
    margin-top: 6%;
  }
  body .lightmode {
    margin-left: 85%;
    margin-top: 6%;
  }
}
/*# sourceMappingURL=login.css.map */