* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    --black: #01010e;
    --white: #f9f9f9;
    --blue: #6d1c06;
    --whitet: #1d858b;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    color: (var(--white));
    background: (var(--black));

    header {
        display: flex;
        justify-content: right;
        flex-direction: column;

        .hemburger {
            display: block;
            width: 40px;
            height: 20px;
            margin-top: 4%;
            margin-left: 5px;
            transition: 1s ease-in-out;

            div {
                display: block;
                margin-top: 4px;
                padding: 3px;
                width: 40px;
                background-color: white;

            }
        }

        .hemburgerclose {
            display: block;
            width: 40px;
            height: 20px;
            margin-top: 4%;
            margin-left: 5px;
            transition: 1s ease;

            div {
                display: block;
                margin-top: 4px;
                padding: 3px;
                width: 40px;
                background-color: white;
                border-radius: 5px;

            }

            #topl {
                width: 25px;
                margin-left: 20px;
                transform: rotate(40deg);
            }

            #middlel {
                display: block;
                width: 44px;
            }

            #bottoml {
                width: 25px;
                transform: rotate(-40deg);
                margin-left: 20px;
            }

        }

        nav {
            display: flex;
            justify-content: space-evenly;
            max-width: 100%;
            border: 2px white;
            align-items: center;
            background: rgb(16, 14, 14);
            padding: 6px 0;
            font-size: 1.5em;
            margin-bottom: 4px;
            box-shadow: 0 0 60px white inset;
            border-radius: 10px;

            a {
                color: aliceblue;
                text-decoration: none;
                font-weight: bold;
            }
        

            .google {
                background: rgb(227, 114, 114);
                border-radius: 5px;
                padding: 3px;
                font-weight: bold;
                color: blue;
            }
            

            
        }
        #userdetail {
            display: flex;
            justify-content: end;
            max-height: 2.5rem;
            max-width: 100%;
            border: 2px white;
            align-items: center;
            background: rgb(16, 14, 14);
            padding: 6px 0;
            font-size: 1.4rem;
            margin-bottom: 4px;
            box-shadow: 0 0 60px white inset;
            border-radius: 10px;

            img {
                border-radius: 50px;
                width: 2rem;
                height: 2rem;
            }

            p {
                color: #f9f9f9;
                margin: 0 1rem

            }
        }

        .navbar {
            display: none;
            align-items: center;
            margin-top: -1%;
            margin-left: 13%;
            max-width: fit-content;
            box-shadow: 0 0 15px white inset;
            border-radius: 10px;

            ul {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                li {
                    list-style: none;
                    margin-left: 4px;

                    a {
                        text-decoration: none;
                        color: white;
                        margin-left: 0.5em;
                    }
                }

                li:hover {
                    box-shadow: 0 0 40px white inset;
                    border-radius: 10px;
                    border: 2px white;
                }
            }
        }
    }

    .darkmode {
        display: block;
        width: 60px;
        margin-top: 3%;
        margin-left: 5%;
        padding: 20px 8px 20px 08px;
        font-weight: bold;
        border-radius: 30px;
        color: (var(--white));
        background: (var(--black));
        box-shadow: 0 0 10px white inset;
        transform: rotate(360deg);
        transition: 3s ease;
        
       
    }
   
    .lightmode {
        display: block;
        width: 60px;
        margin-top: 3%;
        margin-left: 5%;
        padding: 20px 8px 20px 8px;
        font-weight: bold;
        border-radius: 30px;
        color: (var(--blue));
        background: (var(--whitet));
        box-shadow: 0 0 10px rgb(15, 14, 14) inset;
        transform: rotate(360deg);
        rotate: (360deg);
        transition: 3s ease;
       
   
      }
    main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 100%;
        margin-top: 5%;
        font-family: Arial, Helvetica, sans-serif;

        section {
            box-shadow: 0 0 15px white;
            margin: 2% 5% 2% 5%;
            border-radius: 5px;
        }

        .filtersearched {
            display: flex;
            padding: 1em;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;

            .filter {
                display: flex;
                justify-content: space-between;
                width: 100%;
                margin-bottom: 1em;

                .fakehemburger {
                    height: 28px;
                    width: 30px;

                    div {
                        display: block;
                        padding: 2px;
                        margin: 4px;
                        width: 25px;
                        border-radius: 2px;
                        background: white;
                    }
                }

                .fakehemburger:hover {
                    border-radius: 5px;
                    box-shadow: 0 0 15px white;
                }

            }

            .text {
                display: flex;
                min-width: 100%;
                font-weight: bold;
            }

        }

        .beginerinfo {
            box-shadow: 0 0 15px white inset;
            padding: 1em;

            h1 {
                font-weight: bold;
            }

            .info {
                color: #683d2b;
                font-weight: bold;
                margin: 1em 0 1em 0;
                font-size: 1em;

            }

            #bold {
                font-weight: bolder;
                color: white;
            }


        }

        .htmlhead {
            margin-bottom: -2%;

            h1 {
                display: flex;
                justify-content: center;
                flex-direction: row;
                font-weight: bold;


            }
        }

        iframe {
            width: 95%;
            height: 250px;
            margin: 3px;
            box-shadow: 0 0 15px white ;
        }


    }

    .htmltutorials {
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        overflow-y: hidden;

        .htmls {
            display: flex;
            flex-direction: column;
            min-width: 100%;
            justify-content: space-between;
            align-items: center;
            margin: 2px;
            box-shadow: 0 0 15px white inset;

            div {
                flex-direction: column;

                div {
                    p {
                        text-align: center;
                        padding: 3px;
                    }
                }

                .description {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    div{
                        img{
                            border-radius: 50px;
                            box-shadow: 0 0 15px white;
                        }
                    }
                }
            }

        }

    }



footer {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    max-width: 100%;
    border: 2px white;
    align-items: center;
    background: rgb(16, 14, 14);
    box-shadow: 0 0 60px white inset;
}
}

@media(min-width:950px) {
    body {
        header {
            .hemburger {
                display: none;

                div {
                    display: none;
                }
            }

            .nav {
                max-width: 100%;
                align-items: center;

                #userdetail {
                    display: flex;
                    justify-content: center;

                    img {
                        border-radius: 50px;
                        width:  3rem;
                        height: 3rem;
                    }

                    p {
                        font-weight: bold;
                        color: #f9f9f9;
                        padding-top: 1.5%;
                        font-size: 1em;

                    }
                }
            }

            .navbar {
                display: flex;
                justify-content: start;
                margin-top: 14px;
                flex-direction: row;
                margin-top: 2%;
                margin-left: 0;

                ul {
                    flex-direction: row;
                }
            }
        }

        main {
           

            .htmltutorials {
                display: flex;
                flex-direction: row;
                margin-top: 2%;

                .htmls {
                    max-width: 100%;
                    flex-direction: row;
                    iframe {
                        min-width: 40%;
                        height:   300px;
                    }
                }
            }
        }

        .darkmode {
            margin-left: 5%;
        }

        .lightmode {
            margin-left: 5%;
        }
    }
}