* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    --black: #01010e;
    --white: #f9f9f9;
    --blue: #6d1c06;
    --whitet: #1d858b;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    color: (var(--white));
    background: (var(--black));

    header {
        display: flex;
        justify-content: right;
        flex-direction: column;
        max-width: 100%;

        .hemburger {
            display: block;
            width: 40px;
            height: 20px;
            margin-left: 5px;
            transition: 1s ease-in-out;

            div {
                display: block;
                margin-top: 4px;
                padding: 3px;
                width: 40px;
                background-color: white;

            }
        }

        .hemburgerclose {
            display: block;
            width: 40px;
            height: 20px;
            margin-left: 5px;
            transition: 1s ease;

            div {
                display: block;
                margin-top: 4px;
                padding: 3px;
                width: 40px;
                background-color: white;
                border-radius: 5px;

            }

            #topl {
                width: 25px;
                margin-left: 20px;
                transform: rotate(40deg);
            }

            #middlel {
                display: block;
                width: 42px;
            }

            #bottoml {
                width: 25px;
                transform: rotate(-40deg);
                margin-left: 20px;
            }

        }

        nav {
            display: flex;
            justify-content: center;
            max-width: 100%;
            border: 2px white;
            align-items: center;
            background: rgb(16, 14, 14);
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 1.5em;
            margin-bottom: 1%;
            box-shadow: 0 0 60px white inset;
            border-radius: 10px;

            a {
                color: aliceblue;
                text-decoration: none;
                font-weight: bold;
            }

        }

        .navbar {
            display: none;
            align-items: center;
            max-width: fit-content;
            box-shadow: 0 0 15px white inset;
            border-radius: 10px;
            margin-top: 1%;
            margin-left: 13%;

            ul {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                li {
                    list-style: none;
                    margin-left: 4px;

                    a {
                        text-decoration: none;
                        color: white;
                        margin-left: 0.5em;
                    }
                }

                li:hover {
                    box-shadow: 0 0 40px white inset;
                    border-radius: 10px;
                    border: 2px white;
                }
            }
        }
    }

    main {
        display: flex;
        margin:2rem auto;
        max-width: 100%;

        .form_box {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            max-width: 80%;
            border-radius: 10px;
           box-shadow: none;
            font-family: Arial, Helvetica, sans-serif;

            .rightarea {
                display: none;
                text-align: center;
                justify-content: space-around;
                flex-flow: column nowrap;
                margin: 0 auto;
                margin-right: 0;
                max-width: 60%;

                h3 {
                    max-width: 90%;
                    margin: 0 auto;
                    font-size: 1.1rem;
                }

                p {
                    font-style: 1rem;
                    font-weight: bold;
                }



                .line {
                    display: flex;
                    justify-content: space-between;
                    max-width: 100%;
                    height: 2em;
                    margin: 0.7rem;
                    flex-direction: row;

                    #right {
                        display: block;
                        margin: auto;
                        width: 40%;
                        height: 40%;
                        border-top-left-radius: 10px;
                        border-top: 1px solid #f9f9f9;
                    }

                    #left {
                        display: block;
                        margin: auto;
                        width: 40%;
                        height: 40%;
                        border-top-right-radius: 10px;
                        border-top: 1px solid #f9f9f9;
                    }
                }

                .middle {
                    display: flex;
                    flex-flow: column nowrap;
                    max-width: 80%;
                    margin: auto;

                    .downarea {
                        display: flex;
                        margin: auto;
                        width: 90%;
                        justify-content: space-between;

                        .rightside,
                        .leftside {
                            text-align: center;
                            font-size: 0.8rem;
                            margin: auto;
                        }

                        .bottommiddle {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;

                            .top,
                            .bottom {
                                display: block;
                                height: 40%;
                                width: 0;
                                margin: auto;
                                border: 1.2px solid white;
                                box-shadow: 1px 2px 1px white inset;
                            }

                            .center {
                                margin: 0.5rem;

                                a {
                                    background: black;
                                    box-shadow: 0 0 50px white inset;
                                    text-decoration: none;
                                    font-weight: bold;
                                    border-radius: 8px;
                                    color: rgb(18, 17, 17);
                                    padding: 0.3rem;

                                }

                            }
                        }
                    }

                }
            }

            .leftarea {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column nowrap;
                margin: auto;
                margin-right: 1.4rem;
                max-width: 100%;
                border-radius: 10px;
                border: 1px solid rgb(45, 55, 247);
                box-shadow: 0 0 15px rgb(244, 244, 246);
                font-family: Arial, Helvetica, sans-serif;

                .head {
                    text-align: center;
                    margin: 1rem auto;

                    p {
                        font-size: 1.2em;
                        font-weight: bold;
                    }

                    h1 {
                        font-size: 1.4rem;
                        font-weight: bold;
                    }

                }

                label {
                    font-size: 1.2em;
                    font-weight: bold;
                }

                .center_form {
                    display: flex;
                    flex-direction: column;
                    margin: 1em 1.2rem;
                    max-width: 90%;

                    .goal {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 1em 0;

                        select {
                            border-radius: 5px;
                            padding: 0.2rem;
                            font-size: 0.8rem;
                            background: rgb(132, 124, 124);
                            color: rgb(12, 12, 12);
                            box-shadow: 0 0 15px white inset;
                            font-weight: bold;

                            option {
                                background: rgb(132, 124, 124);
                                color: black;
                                font-weight: bold;
                            }
                        }
                    }

                    .pc_confirmation {
                       
                      p{
                          display: inline;
                          font-size: 1.1rem;
                          font-weight: bold;
                      }

                        #pc_c {
                            margin-top: 2px;
                        }
                    }

                    .expected_time {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        max-width: 90%;
                        margin: 1em 0;

                        input,
                        select {
                            border-radius: 5px;
                            max-width: 25%;
                            padding: 0.2rem;
                            background: rgb(132, 124, 124);
                            color: black;
                            box-shadow: 0 0 15px white inset;
                            font-weight: bold;

                            option {
                                background: rgb(132, 124, 124);
                                color: black;
                                font-weight: bold;
                                box-shadow: 0 0 60px white inset;
                            }
                        }

                    }

                }

                .getpoint {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 1.2rem auto;

                    a {
                        background: rgb(61, 58, 58);
                        color: rgb(247, 243, 243);
                        text-decoration: none;
                        padding: 0.5rem;
                        font-weight: bold;
                        border-radius: 5px;
                        box-shadow: 0 0 60px white inset;
                    }
                }

            }
        }
    }

    
    .darkmode {
                display: block;
                width: 60px;
                margin-top: 3%;
                margin-left: 5%;
                padding: 20px 8px 20px 08px;
                font-weight: bold;
                border-radius: 30px;
                color: (var(--white));
                background: (var(--black));
                box-shadow: 0 0 10px white inset;
                transform: rotate(360deg);
                transition: 3s ease;
                
               
            }
           
            .lightmode {
                display: block;
                width: 60px;
                margin-top: 3%;
                margin-left: 5%;
                padding: 20px 8px 20px 8px;
                font-weight: bold;
                border-radius: 30px;
                color: (var(--blue));
                background: (var(--whitet));
                box-shadow: 0 0 10px rgb(15, 14, 14) inset;
                transform: rotate(360deg);
                rotate: (360deg);
                transition: 3s ease;
               
           
              }
        footer {
            
            border: 2px white;
            background: rgb(16, 14, 14);
            box-shadow: 0 0 60px white inset;
            max-width: 100%;
            margin-top: 2%;


        p {
            font-size: 1rem;
            display: flex;
            justify-content: center;
        }
    }
}

@media(min-width:950px) {
    body {
        header {
            .hemburger {
                display: none;

                div {
                    display: none;
                }
            }

            .nav {
                max-width: 100%;
                margin-bottom: 2%;
            }

            .navbar {
                display: flex;
                flex-direction: row;
                margin-top: 0;

                ul {
                    flex-direction:row;
                }
            }
        }

        main {
            max-width: 100%;

            .form_box {
                box-shadow: 0 0 15px white inset;
                .rightarea {
                    display: flex;
                }

                .leftarea {
                    max-width: 75%;
                }
            }
        }

        .darkmode {
            margin-left: 5%;
        }
        
        .lightmode {
            margin-left: 5%;
        }
    }
}