* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    --black: #01010e;
    --white: #f9f9f9;
    --blue: #6d1c06;
    --whitet: #1d858b;
}

body {

    color: (var(--white));
    background: (var(--black));

    header {
        display: flex;
        justify-content: right;
        flex-direction: column;

        .hemburger {
            display: none;
            width: 40px;
            height: 20px;
            margin-left: 5px;
            transition: 1s ease-in-out;

            div {
                display: none;
                margin-top: 4px;
                padding: 3px;
                width: 40px;
                background-color: white;

            }
        }

        .hemburgerclose {
            display: block;
            width: 40px;
            height: 20px;
            margin-left: 5px;
            transition: 1s ease;

            div {
                display: block;
                margin-top: 4px;
                padding: 3px;
                width: 40px;
                background-color: white;
                border-radius: 5px;

            }

            #topl {
                width: 25px;
                margin-left: 20px;
                transform: rotate(40deg);
            }

            #middlel {
                display: block;
                width: 42px;
            }

            #bottoml {
                width: 25px;
                transform: rotate(-40deg);
                margin-left: 20px;
            }

        }

        nav {
            display: flex;
            justify-content: center;
            max-width: 100%;
            border: 2px white;
            align-items: center;
            background: rgb(16, 14, 14);
            padding: 6px;
            font-size: 1.5em;
            margin-bottom: 4px;
            box-shadow: 0 0 60px white inset;
            border-radius: 10px;

            a {
                color: aliceblue;
                text-decoration: none;
                font-weight: bold;
            }

        }

        .navbar {
            display: flex;
            align-items: center;
            max-width: fit-content;
            box-shadow: 0 0 15px white inset;
            border-radius: 10px;

            ul {
                text-decoration: none;
                display: flex;
                justify-content: space-between;
                align-items: center;

                li {
                    list-style: none;
                    margin-left: 4px;

                    a {
                        text-decoration: none;
                        color: white;
                        margin-left: 0.5em;
                    }
                }

                li:hover {
                    box-shadow: 0 0 40px white inset;
                    border-radius: 10px;
                    border: 2px white;
                }
            }
        }
    }

    main {
        display: flex;
        max-width: 70%;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        margin-top: 19vh;
        border-radius: 10px;
        box-shadow: 0 0 15px white inset;
        font-family: Arial, Helvetica, sans-serif;

        .rightarea {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 4%;

            .heading {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
            }

            .middle {
                display: flex;
                justify-content: center;
                font-weight: bold;
                margin-top: 5%;

            }

            .line {
                display: flex;
                justify-content: space-around;

                #right {
                    display: block;
                    margin-top: 5%;
                    padding-bottom: 1%;
                    padding-right: 35%;
                    border-radius: 10px;
                    //    border: 2px solid white;
                    box-shadow: 1px 2px 2px white inset;
                }
            }

            .downarea {
                display: flex;
                justify-content: space-between;

                .rightside,
                .leftside {
                    margin-top: 5%;
                    text-align: center;
                }

                .bottommiddle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    .top,
                    .bottom {
                        display: block;
                        height: 4vh;
                        width: 0;
                        border: 1.2px solid white;
                        box-shadow: 1px 2px 1px white inset;
                    }

                    .center {
                        margin: 10px 0 10px 0;

                        a {
                            background: black;
                            box-shadow: 0 0 50px white inset;
                            text-decoration: none;
                            font-weight: bold;
                            border-radius: 8px;
                            color: rgb(18, 17, 17);
                            // padding-left: 5px;
                            // padding-right: 5px;
                            padding: 3px 10px 3px 10px;

                        }

                    }
                }
            }
        }

        .leftarea {
            display: block;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-right: 2.5%;
            padding: 4% 1% 4% 1%;
            max-width: 100%;
            border-radius: 10px;
            border: 1px solid rgb(45, 55, 247);
            box-shadow: 0 0 15px rgb(244, 244, 246);
            font-family: Arial, Helvetica, sans-serif;

            .head {
                text-align: center;
                margin: 5%;
            }

            .form {
                label {
                    font-weight: bold;
                }

                .goal {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-top: 5%;

                    select {
                        border-radius: 5px;
                        padding: 3px;
                        background: rgb(132, 124, 124);
                        color: rgb(12, 12, 12);
                        box-shadow: 0 0 15px white inset;
                        font-weight: bold;

                        option {
                            background: rgb(132, 124, 124);
                            color: black;
                            font-weight: bold;
                        }
                    }
                }

                .pc_confirmation {
                    display: flex;
                    padding: 5px;
                    margin-bottom: 5%;
                    margin-top: 5%;

                    #pc_c {
                        margin-top: 2px;
                    }
                }

                .expected_time {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 5%;
                    margin-right: 5%;

                    input,
                    select {
                        border-radius: 5px;
                        max-width: 25%;
                        padding: 3px;
                        background: rgb(132, 124, 124);
                        color: black;
                        box-shadow: 0 0 15px white inset;
                        font-weight: bold;

                        option {
                            background: rgb(132, 124, 124);
                            color: black;
                            font-weight: bold;
                            box-shadow: 0 0 60px white inset;
                        }
                    }

                }
            }

            .getpoint {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 10%;

                a {
                    background: rgb(61, 58, 58);
                    color: rgb(247, 243, 243);
                    text-decoration: none;
                    padding: 10px;
                    font-weight: bold;
                    border-radius: 5px;
                    box-shadow: 0 0 60px white inset;
                }
            }

        }
    }

    .darkmode {
        margin-top: 5%;
        margin-left: 95%;
        padding: 15px 8px 15px 8px;
        font-weight: bold;
        border-radius: 25px;
        color: (var(--white));
        background: (var(--black));
        box-shadow: 0 0 10px white inset;
        transform: rotate(360deg);
        transition: 1s ease;
    }

    .lightmode {
        margin-top: 5%;
        margin-left: 95%;
        padding: 15px 8px 15px 8px;
        font-weight: bold;
        border-radius: 25px;
        color: (var(--blue));
        background: (var(--whitet));
        box-shadow: 0 0 10px rgb(15, 14, 14) inset;
        transform: rotate(360deg);
        transition: 1s ease;
    }
    footer{
        display: flex;
        justify-content: center;
        max-width: 100%;
        border: 2px white;
        margin-top: 5px;
        align-items: center;
        background: rgb(16, 14, 14);
        box-shadow: 0 0 60px white inset;

    }
}

@media(max-width:1000px) {
    body {
        header {
            .hemburger {
                display: block;

                div {
                    display: block;
                }
            }
            .nav{
                max-width: 100%;
            }
            .navbar {
                display: none;
                margin-top: 14px;
                flex-direction: column;

                ul {
                    flex-direction: column;
                }
            }
        }

        main {
            max-width: 90%;

            .rightarea {
                display: none;
            }
        }

    .darkmode{
        margin-left: 5%;
        margin-top: 6%;
    }
    .lightmode{
        margin-left: 85%;
        margin-top: 6%;
    }
    }
}